<%- include('./partials/header') %>

<div class="container-fluid article-container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <article id="article" class="shadow-box" style="padding: 16px 24px">
                <%- include('./partials/page-info') %>
                <%- page.converted_content %>
                <p class="copyright"><strong>Links: <a href="<%- page.link %>"><%- page.link %></a></strong></p>
                <%- config.copyright %>
                <%- config.ad %>
            </article>
            <%- include('./partials/prev-next') %>
            <%- include('./partials/comment') %>
        </div>
        <div class="col-md-2 d-none d-md-block">
            <div class="toc sticky-top">
                <ul id="toc">

                </ul>
            </div>
        </div>
    </div>

</div>


<script>
  (function() {
    generateTOC();
  })();
</script>

<%- include('./partials/footer') %>
