<%- include('./partials/header') %>

<div class="container-fluid article-container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <article id="article" class="shadow-box" style="padding: 16px">
                <%- include('./partials/page-info') %>
                <%- page.converted_content %>
                <p class="copyright"><strong>Links: <a href="<%- page.link %>"><%- page.link %></a></strong></p>
                <%- config.copyright %>
                <%- config.ad %>
            </article>
            <%- include('./partials/prev-next') %>
            <%- include('./partials/comment') %>
        </div>
        <div class="col-md-2 d-none d-md-block">
            <div class="toc sticky-top">
                <ul id="toc">

                </ul>
            </div>
        </div>
    </div>

</div>


<script>
  function generateTOC() {
    const titles = getTitles();
    insertTOC(titles);
  }

  function getTitles() {
    const article = document.getElementById('article');
    const nodes = ['H1', 'H2', 'H3'];
    let titles = [];
    article.childNodes.forEach(function(e, i) {
      if (nodes.includes(e.nodeName)) {
        const id = 'header-' + i;
        e.setAttribute('id', id);
        titles.push({
          id: id,
          text: e.innerHTML,
          level: Number(e.nodeName.substring(1, 2)),
          nodeName: e.nodeName
        });
      }
    });
    return titles;
  }

  function insertTOC(titles) {
    const toc = document.getElementById('toc');
    for (let i = 1; i < titles.length; i++) {
      let title = titles[i];
      let template = `<li><a href="#${title.id}">${title.text}</a></li>`;
      toc.insertAdjacentHTML('beforeend', template);
    }
  }

  (function() {
    generateTOC();
  })();
</script>

<%- include('./partials/footer') %>
